<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="briefcase"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="nav navbar-brand">Career Tips - Graduates</h1>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Image Banner -->
  <ion-img src="../../../../assets/images/careerTips/graduates.jpg"></ion-img>

  <!-- Main Section -->
  <ion-list>
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Tips For Graduates</ion-label>
    </ion-item-divider>

    <ion-card color="dark">
      <ion-card-content>
        Higher education doesn’t bridge the gap between curriculum and real world demands.
        Millennials are drowning in student-loan debt or being under-utilized in the workforce.
        In order to combat the famous catch-22, “you can’t get experience without having experience,”
        fresh graduates are investing in more higher education in hopes that another degree will provide
        answers to the age-old question, “What do I want to be when I grow up?”.
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-content>
        How do you get experience without having any? The first step is to identify the most strategic first
        job available – one that sets the foundation for a sustainable career and gives you the tools you need
        to reach that next step. Employers are sometimes hesitant to hire new grads, with no real direction, getting
        that first gig requires new graduates to get creative. Take control of your career by getting a variety of
        experiences early on – even if it’s unpaid internships or volunteer positions, seek out help – such as a mentor
        in your desired field – to guide you through the process.
      </ion-card-content>
    </ion-card>

    <ion-accordion-group class="container">
      <ion-accordion value="beStrategic">
        <ion-item slot="header">
          <ion-label>Be Strategic</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              View your first job as a means to accomplishing a specific goal. If you graduated with a general degree and aren’t sure how it relates, no problem. Approach this first job through a self-exploratory lens to help you better understand your likes and dislikes. Find out what duties and responsibilities you gravitate towards. Working on short-term assignments is a great way to get a variety of experiences, and once you’ve figured out your niche, you can use this knowledge to assure employers that you know what you’re looking for. Employers are much more interested in real-world applications versus theories, so if your goal is to get as much experience in your field as possible, find a role that gives you a wide range of exposure.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="dontCommit">
        <ion-item slot="header">
          <ion-label>Don't Commit</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Hold off an investing in more higher education until you’ve done your vetting. Believe it or not, your major doesn’t always translate into the dream job you envisioned in college, so it’s best to clock some time in before committing to more years of school. Once you’ve done that, write down your goals, and be honest: is a higher degree required in order to take you to your final destination or could you get there sooner with online courses, night classes, or specialized certifications? Then and only then does the university of your choice deserve your money.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="seekExperts">
        <ion-item slot="header">
          <ion-label>Seek Out Experts</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Despite their best intentions, family and friends make bad career counselors. Forget the fact that most people are unaware of the vast movement in job creation today. Your parents are most likely traditionalists who are still driving “doctor,” “lawyer,” or “teacher” into your mind. And because they want what’s best for you, their advice comes from a place of emotion rather than logic, which means it’s completely biased. Do some research, get on LinkedIn, and start networking. Find experts and thought leaders in your field, and ask how they achieved their success. They’ll guide you through the process and help you grow your professional network. Get your resume out to various employment agencies in your area, and, if you’re eager to see some results, try a career coach for a more personal, hands-on experience.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="scienceIntuition">
        <ion-item slot="header">
          <ion-label>Science vs Intuition</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Career assessments are incredible tools for answering the “I don’t know how my skills, experiences, and behaviors are relevant in the business world” problem. I know what you’re probably thinking – “Isn’t that the stupid questionnaire I took in high school that told me I’d be a great mechanical engineer or bus driver?” There are some incredible behavioral assessments out their backed by researched-to-death data that employers use on their candidates in order to make better hiring decisions. Our favorite is made by TTI Success Insights. It uses your basic human tendencies, such as how you communicate with others and what motivates you in life to tell you which work environments and occupations you’re best suited for. These underrated tools have been instrumental in my success in helping new grads find their career passions and land entry-level positions they love.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="thinkSpecialty">
        <ion-item slot="header">
          <ion-label>Think Specialty</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              The more you can acquire in-demand skills, the more marketable you become in the talent world. Go on Indeed.com to find out what specialty jobs are related to your desired field and are located in your area. Take note of the amount of entry-level positions available. You’ll want to see a high number since that signifies a talent shortage. Look at the job descriptions, and build the skills you need for that level. My daughter did this by working in one department of human resources while volunteering in another. This catapulted her career by an entire workforce level because of her diverse experience at such a young age.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="considerations" class="pb-3">
        <ion-item slot="header">
          <ion-label>Honourable Considerations</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Forbes just released The 10 Most Promising Jobs of 2015, based on stats courtesy of Glassdoor, and none of them include doctor, lawyer, and teacher. Instead, Physician’s Assistant, Software Engineer, and Marketing Manager were some of the highly-touted roles. Be open-minded to new opportunities, research all the new and exciting jobs out there, and talk to people on the front lines. Believe me, your background is much more pliable than you think.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Advice for Grads -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Advice For Graduates</ion-label>
    </ion-item-divider>

    <ion-img src="../../../../assets/images/careerTips/graduates_advice.jpg"></ion-img>

    <ion-card color="dark">
      <ion-card-content>
        As a soon-to-be college grad, I know that the world of work can catch you unawares.
        In preparing for the job search, we’ve found that experienced professionals often have
        a lot of great advice to dispense.
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-content>
        And it’s true that sometimes the wisest tips don’t come from experts,
        but from real people with real stories. Keep that in mind!
      </ion-card-content>
    </ion-card>

    <ion-accordion-group class="container">
      <ion-accordion value="fourWords">
        <ion-item slot="header">
          <ion-label>Four Words</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
              <ion-card-title class="ion-text-center">Rakesh N.</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Be positive, principled, pro-active, and productive.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="discoverYourself">
        <ion-item slot="header">
          <ion-label>Discover Yourself</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
              <ion-card-title class="ion-text-center">Carol L.</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Consider this job a journey to learn about yourself. The purpose is to grow as a human being; to discover what you’re good at, what you love to do, and what you dislike.
              Discover your why, and you’ll become happier and more passionate in life!
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="openToChange">
        <ion-item slot="header">
          <ion-label>Open To Change</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
              <ion-card-title class="ion-text-center">Mitchell M.</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Don’t get discouraged when a job you really want does not pan out for you. It just opens up doors to other opportunities.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="embraceMistakes">
        <ion-item slot="header">
          <ion-label>Embrace Mistakes</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
              <ion-card-title class="ion-text-center">Samantha DM.</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Be honest. Not sure about something? Ask questions. Screwed up? Own up!
              I’ve always valued someone willing to learn, and we do that in different ways. I’ll always highly regard someone willing to be honest about their mistakes because we learn from those just as much as our successes!
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="moveForward">
        <ion-item slot="header">
          <ion-label>Move Forward</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
              <ion-card-title class="ion-text-center">Heather J.</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Learn to hear feedback and never let it fester. Instead consider it, take what works, and move on.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="keepLearning">
        <ion-item slot="header">
          <ion-label>Learn From Everything</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">Anita S.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Remember every moment is an opportunity to learn from everyone around you, no matter their title.
    Pay attention when things go well; pay extra attention when they don’t, and watch how people react to it. Build relationships with the people who face problems by being their solution.
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="makeConnections">
        <ion-item slot="header">
          <ion-label>Make Connections</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">Eddie M.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Your biggest asset is your network.
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="practicePatience">
        <ion-item slot="header">
          <ion-label>Practice Patience</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">L. Nicole</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Networking + Resilience = Success
    It won’t be easy but you have to start somewhere. This is just the first step on the stairwell, so don’t give up, and know that the best is yet to come!
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="coWorkers">
        <ion-item slot="header">
          <ion-label>Co-Workers</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">Lauren L.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Don’t be intimidated by your colleagues and superiors!
    Remember that they were once in your shoes when they began their careers. Leverage their knowledge and experience and find ways to take what worked for them and adapt it to work for you.
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="respectEveryone">
        <ion-item slot="header">
          <ion-label>Respect Everyone</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">Brittany K.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Speak when you walk into the office everyday. Say good morning to your boss and peers as you walk past their offices, smile at janitors and receptionists in your office.
    Don’t be so focused on getting ahead that it’s all business all the time. Treating people with humanity and integrity is most important.
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="ownCounsel">
        <ion-item slot="header">
          <ion-label>Keep Your Own Counsel</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">Nicholas G.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Don’t assume that a co-worker won’t repeat your criticisms of a colleague. When asked how you feel about individuals in the office, be open and vague with your answers.
    Always reserve judgment on your co-workers until you have enough time to make up your own mind.
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="futurePreparation" class="pb-3">
        <ion-item slot="header">
          <ion-label>Future Preparation</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Advice for Graduates</ion-card-subtitle>
    <ion-card-title class="ion-text-center">Alicia M.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Develop good time management habits early on. Your workload will only increase with time, and so will your responsibilities. Be ready when they do.
  </ion-card-content>
</ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-card color="dark">
      <ion-card-content>
        From making the right impression to getting a handle on time management,
        a new work environment can be tricky to navigate. And, that goes for anyone,
        no matter how high up the ladder you are.
      </ion-card-content>
    </ion-card>

    <!-- Courtesy -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Courtesy</ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-img src="../../../../assets/images/wiseway.jpeg"></ion-img>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
