<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="easel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="nav navbar-brand">Fundamentals</h1>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Image -->
  <ion-img src="https://www.thebalancecareers.com/thmb/E5_dsbs8NkxS0S33nt1AdRMwN5Q=/300x0/filters:no_upscale():max_bytes(150000):strip_icc()/boy-3-5-chairing-business-meeting-186675066-576196435f9b58f22ee3e6ac.jpg"></ion-img>
  <!-- Heading -->
  <ion-list>
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Career Development</ion-label>
    </ion-item-divider>
    <!-- Intro -->
    <ion-card>
      <ion-card-content>
        Are you choosing or changing your occupation? Maybe you just want to learn more about career development in general. A good foundation begins with the basics. Learn all about the whats, hows, whys, and even the whos of this process that encompasses our entire lives.
      </ion-card-content>
    </ion-card>

    <!-- Content 1 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>What is Career Development?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        Let's go back to the basics of the basics—a definition of the topic itself. What exactly is career development? It sounds like a journey on which we can choose to embark, but, in reality, it is something all of us go through naturally as we develop and mature. As one part of human development, it is the process through which our work identities are formed. Career development spans our entire lives, beginning with the moment one becomes aware of different occupations and that people work to make a living.
      </ion-card-content>
    </ion-card>

    <!-- Content 2 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>What is a Career, Anyway?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        We use this word all the time, but what does it really mean? It has a few meanings. We can use it to describe one's occupation or vocation. For example "Careers in entertainment include singer, actor, musician and dancer." The word can also be used to refer to the series of jobs one has over his or her lifetime, such as "When Ann retired at age 65, she had had a long career in medicine." Jobs included in one's career, when defined this way, can be related to one another, but they don't have to be, for example, "Jim's career included working as a carpenter, a sales representative, and a short-order cook."
      </ion-card-content>
    </ion-card>

    <!-- Content 3 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>What is Career Guidance?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        Career development will occur without any intervention, but getting assistance can help get you through the process more smoothly and with greater success. Career guidance is the term used to refer to the combination of services that help people navigate the process. It includes assistance with making an occupational choice and finding a job, in addition to other services that will support you during the course of your working life.
      </ion-card-content>
    </ion-card>

    <!-- Content 4 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Who Can Help Me With Career Development?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        You may, at various junctures, require help. There are several types of professionals who can provide guidance. They include career counselors, career development facilitators, and coaches. It is imperative, when you hire one of these professionals, to consider his or her credentials. You want to make sure he or she has the proper qualifications and is trained to provide the assistance you need.
      </ion-card-content>
    </ion-card>

    <!-- Content 5 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Can I Take a Test That Will Tell Me <br> Me What to Do With My Life?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        Imagine a test that could tell you what career is best for you and all you had to do was answer a few questions. Wouldn't that make navigating this whole career development thing so much easier? Unfortunately, such a test doesn't exist. When people refer to "career tests" what they are actually talking about are the collection of self-assessment tools that help individuals discover their interests, personality types, aptitudes, and values. They can then use what they learn about themselves to find occupations that are good matches for individuals with those traits.
      </ion-card-content>
    </ion-card>

    <!-- Content 6 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>How Do I Explore My Options?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        After completing your self assessment, you've been left with a list of occupations that seem interesting. However, you probably don't know as much as you should about a lot of them. It's time to start gathering information. Several might appeal to you based on their descriptions and earnings. Make sure you also find out what the educational requirements are for entry-level jobs, as well as the job outlooks. You need to know your chances of finding a job when you are ready.
      </ion-card-content>
    </ion-card>

    <!-- Content 7 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Why Do I Need a Career Action Plan?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        A career action plan is a roadmap that will get you from Point A to Point B. Point A is the moment, after doing a thorough self-assessment and investigating suitable occupations, that you decide which one you want to pursue. You will reach Point B after you have met all the requirements that will allow you to begin to work in the occupation you chose. Your plan will include your long and short term goals and can even take you beyond Point B, as you make plans for career advancement. It's also smart to invest in your career plan.
      </ion-card-content>
    </ion-card>

    <!-- Content 8 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Can I Change My Career?</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        The career you chose when you were 18 or 22 or 30 may no longer be right for you. Perhaps you no longer find it satisfying or the demand for employees has changed and you can't find a job. You can change your career as long as you are willing to do what it takes to prepare to enter a new field. Just as you did—or should have done—when choosing the career you are now opting to leave, investigate your options fully before you move ahead.
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>

