<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="nav navbar-brand">Interviews</h1>
    <!-- <ion-title>interview</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="main">
    <ion-thumbnail>
      <img class="float" src="https://freesvg.org/storage/img/thumb/Red-Coming-Soon-Stamp.png">
    </ion-thumbnail>
    <!-- Spinner -->
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
</ion-content>
