<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="briefcase"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="nav navbar-brand">Career Tips - Students</h1>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Image Banner -->
  <ion-img src="../../../../assets/images/careerTips/students.jpg"></ion-img>

  <!-- Main Section -->
  <ion-list>
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>About</ion-label>
    </ion-item-divider>

    <ion-card color="dark">
      <ion-card-content>
        As you continue your University education, it’s important to consider
        suggestions that can help you grow personally and professionally.
        Here are a few tips to help you prepare for your future career while
        you’re in school:
      </ion-card-content>
    </ion-card>

    <!-- Seek Internship Opportunities -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Internship Opportunities</ion-label>
    </ion-item-divider>

    <ion-card color="dark">
      <ion-card-content>
        Internships are a great way to gain valuable, hands-on experience in your field. For your internship to be beneficial, it must apply to your career aspirations. For example, if you’re interested in becoming a veterinarian, it may be beneficial to work at a kennel or animal shelter where you can learn proper animal care and handling.
        <br><br>
        There are a variety of internships available, including those at local businesses to larger corporations. Here are some ways to find an internship during college:
      </ion-card-content>
    </ion-card>

    <ion-accordion-group class="container">
      <ion-accordion value="network">
        <ion-item slot="header">
          <ion-label>Network</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Ask your professors, classmates, family, friends and academic advisors if they know of any opportunities you’d be interested in. You can also contact your college’s alumni to gain insightful information regarding internships you can pursue to start your entry-level career.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="careerInternshipFairs">
        <ion-item slot="header">
          <ion-label>Career or Internship Faires</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Many companies use career fairs to recruit and hire candidates. These events are a great way to get face-to-face with prospective employers.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="conductResearch">
        <ion-item slot="header">
          <ion-label>Conduct Research</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Many companies post internship openings on internship or career websites. You can also check company websites for relevant opportunities.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="contactEmployers" class="pb-3">
        <ion-item slot="header">
          <ion-label>Contact Employers</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Find a company that you’d be interested in interning for and contact their human resources department. They can let you know if they’re seeking interns and what the qualifications are.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Work Study Program -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Work-Study Program</ion-label>
    </ion-item-divider>

    <ion-card color="dark">
      <ion-card-content>
        Outside of internship opportunities, you can also take part in a work-study program offered by federally accredited colleges and universities for students with financial needs. These programs provide you with a part-time job during your undergraduate or graduate studies. Essentially, you can earn money to use toward your educational expenses. These programs are also great opportunities to gain community service experience and knowledge in your field, as they promote work related to your course of study.
      </ion-card-content>
    </ion-card>

    <ion-accordion-group class="container">
      <ion-accordion value="growSkillsKnowledge">
        <ion-item slot="header">
          <ion-label>Grow Skills & Knowledge</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Employers want to hire candidates with a wide range of skills. Use your college years to expand your skills and overall knowledge. Consider elective courses relevant to your career aspirations. For example, if you’re a photographer, taking an art class can help you expand your creativity. If your school doesn’t offer classes in the skill you’re hoping to grow, consider investing in relevant software.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="earlyStart">
        <ion-item slot="header">
          <ion-label>Early Start</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              To ensure you get the most out of your career, start looking for opportunities before you graduate. Find jobs relevant to your major. For example, if you’re interested in becoming a graphic designer, consider working for a design agency. This opportunity can help you understand what daily life is like for fellow designers and help you better understand the industry. Similarly, if you’re an art major, consider working for a local gallery to gain knowledge about the art industry. The sooner you look for opportunities, the greater chance you have of getting a job.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="stayRelevant">
        <ion-item slot="header">
          <ion-label>Stay Relevant</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              When you apply for a job or internship, you’ll likely be competing with other candidates. Because of this, it’s important to keep your skills current regardless of your industry. This means staying up-to-date with various technology and industry trends to help you gain an advantage over other candidates and make you stand out to hiring managers. Stay current by doing online research, reading professional journals or visiting your school’s library.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="stayFocused">
        <ion-item slot="header">
          <ion-label>Stay Focused</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              It’s important to stay focused on your career goals and aspirations. Let your experiences teach, guide and propel your future path. Your mistakes can provide you with valuable experience and knowledge in facing similar situations later on.
              <br><br>
              If you find yourself in a discouraging situation such as an unsatisfying job or a strict manager, focus on the positives. Know that these experiences can shape you to become a stronger-working professional in your field.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="findBalance">
        <ion-item slot="header">
          <ion-label>Find Balance</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              As you begin your career, remember to find a healthy work-life or school-life balance. Spend time relaxing away from your career or schooling by pursuing a hobby, spending time with family and friends, traveling or getting out of your comfort zone. Though it’s important to focus on your studies in college, it’s important to leave time for the little things in your life, too. This can help you be happier overall and get you in the habit of continuing a healthy work-life balance throughout your future career.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="pursueYourPassion">
        <ion-item slot="header">
          <ion-label>Pursue Your Passion</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              The easiest way to find happiness in your career is to determine what you love doing. For example, if you enjoy woodworking or metalworking, consider becoming an engineer. This ensures you’re doing something that makes you happy every day and will help your job feel less like work and more like fun. Following your dreams can also help increase your productivity because you’ll likely be more excited about going back to work. This advice is crucial as you advance in your career because it ensures you stay encouraged and driven to be the best you can be in your industry.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="excellenceMotivation">
        <ion-item slot="header">
          <ion-label>Maintain Excellence & Motivation</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Whether you’re in your first job or an internship, it’s important to aspire to be the best you can be. Recognize your own mistakes and believe in yourself and your abilities. This can help you stay vigilant in pursuing your dreams and give you the ability to advance in your career. Ultimately, striving for excellence can help you find success.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="schoolsCareerServices">
        <ion-item slot="header">
          <ion-label>School's Career Services</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Before you graduate, take advantage of your school’s career services to help you jump-start your career. This campus resource can provide you with a wealth of information, from crafting a resume to getting a job. Your school’s career services can also put you in touch with alumni in your field. Your tuition also pays for these services.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="buildYourNetwork">
        <ion-item slot="header">
          <ion-label>Build Your Network</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Throughout your collegiate career, it’s important to engage with your school’s faculty, recent graduates and other valuable contacts in your field. Networking is a great way to gain insight from other working professionals who have gone through the same process. The contacts you make can also serve as references later on or inform you of valuable opportunities in your field. Here are common ways to network:
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="seekOpportunities">
        <ion-item slot="header">
          <ion-label>Seek Opportunities</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Throughout your college career, there are several ways to gain experience such as internships, jobs or volunteer opportunities. These are great ways to develop your skillset in your chosen field. Proactively seek opportunities that can benefit your future career, and use them to help you advance in a competitive workforce.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="createOpportunities">
        <ion-item slot="header">
          <ion-label>Create Opportunities</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Outside of seeking traditional opportunities, consider creating your own. For example, you can create a blog, a photography business or an online course that can help you gain experience and skills relevant to your field. These opportunities can also improve your soft skills, such as leadership skills or communication skills, which are beneficial in several industries.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="useSocialMedia" class="pb-3">
        <ion-item slot="header">
          <ion-label>Use Social Media</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card>
            <ion-card-content>
              Connecting with companies you’re interested in via social media provides you with several benefits. Not only can it alert you to future job opportunities, but it can also help you better understand the company’s culture and display your interest in working for them.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Courtesy -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Courtesy</ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-img src="../../../../assets/images/wiseway.jpeg"></ion-img>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
