
ion-thumbnail {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span, ion-icon {
  cursor: pointer;
}

.float {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
