<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-buttons> -->
    <h1 class="nav navbar-brand">Signup</h1>
    <!-- <ion-title class="nav navbar-brand">Login</ion-title> -->
    <ion-buttons slot="end">
      <ion-button id="popoverTrigger">
        <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
        <ion-popover trigger="popoverTrigger" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list class="ion-no-padding">
                <ion-item detail="false" button (click)="onDisplayLogin()">
                  <ion-icon slot="end" name="log-in-outline"></ion-icon>
                  <ion-label>Log In</ion-label>
                </ion-item>
                <ion-item detail="false" button (click)="HelpAboutAlert('help')">
                  <ion-icon slot="end" name="help-outline"></ion-icon>
                  <ion-label>Help</ion-label>
                </ion-item>
                <ion-item detail="false" button (click)="HelpAboutAlert('about')">
                  <ion-icon slot="end" name="information-outline"></ion-icon>
                  <ion-label>About</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Login Form -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Create an account</ion-card-subtitle>
      <ion-card-title class="ion-text-center pt-3">Sign Up</ion-card-title>
      <ion-thumbnail>
        <ion-img class="float" src="../../../assets/icon/login.png"></ion-img>
      </ion-thumbnail>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="signUserUp()" [formGroup]="credentials" class="ion-margin-top">
        <ion-list>
          <!-- Enter Name -->
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" name="create"></ion-icon>
            <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">Please enter your name</ion-note>
          </ion-item>
          <!-- Enter Surname -->
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" name="create"></ion-icon>
            <ion-input type="text" placeholder="Surname" formControlName="surname"></ion-input>
            <ion-note slot="error" *ngIf="(surname.dirty || surname.touched) && surname.errors">Please enter your surname</ion-note>
          </ion-item>
          <!-- Choose Gender -->
          <ion-grid class="ion-no-margin-bottom ion-no-padding-bottom">
            <ion-row>
              <ion-col size="12">
                <ion-button color="tertiary" expand="block" (click)="presentActionSheet()">
                  <ion-icon name="caret-up-outline" slot="start"></ion-icon>
                  Select Gender
                </ion-button>
                <ion-text class="ion-text-center">
                  <h2 *ngIf="genderSelected !== 'None'">Gender: {{ genderSelected }}</h2>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Enter Username -->
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" name="create"></ion-icon>
            <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
            <ion-note slot="error" *ngIf="(username.dirty || username.touched) && username.errors">Please enter a username</ion-note>
          </ion-item>
          <!-- Enter Email Address -->
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Please enter a valid email address</ion-note>
          </ion-item>
          <!-- Enter Password -->
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" [name]="isPasswordHidden ? 'eye' : 'eye-off'" (click)="togglePassword()"></ion-icon>
            <ion-input [type]="isPasswordHidden ? 'password' : 'text'" placeholder="Password" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password must be 6 characters or more</ion-note>
          </ion-item>
          <!-- Enter Password Confirmation -->
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" [name]="isConfirmPasswordHidden ? 'eye' : 'eye-off'" (click)="toggleConfirmPassword()"></ion-icon>
            <ion-input [type]="isConfirmPasswordHidden ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
            <ion-note slot="error" *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors">Password must be 6 characters or more</ion-note>
          </ion-item>
        </ion-list>
        <!-- Signup, Login Buttons -->
        <ion-grid class="ion-no-margin-bottom ion-no-padding-bottom">
          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" color="secondary" expand="block" [disabled]="!credentials.valid">
                <ion-icon name="log-in-outline" slot="start"></ion-icon>
                Sign Up
              </ion-button>
                <ion-text class="ion-text-center ion-padding">
                  <h6>Already have an account? <span (click)="onDisplayLogin()">Log In</span></h6>
                </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="2">
          <ion-icon size="large" name="arrow-back" routerLink="/auth"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <!-- <ion-icon size="large" color="success" name="information"></ion-icon> -->
        </ion-col>
        <ion-col size="2">
          <!-- <ion-icon size="large" color="tertiary" name="book"></ion-icon> -->
        </ion-col>
        <ion-col size="2">
          <!-- <ion-icon class="rotate" color="secondary" size="large" name="globe"></ion-icon> -->
        </ion-col>
        <ion-col size="2">
          <ion-icon size="large" name="help"></ion-icon>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
