<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="school"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="nav navbar-brand">University Regulations</h1>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- MUT Image -->
  <ion-grid class="p-3">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-img src="../../../../assets/images/mut_banner.jpeg"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- Body -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mangosuthu University</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Important Notice</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          The department rules in this handbook must be read in conjunction with the Mangosuthu University
          of Technology's General Handbook Rules.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <!-- Card 2 -->
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Mangosuthu University</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Registered Students</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          Your registration is in accordance will ail current General Handbook Rules of Mangosuthu University
          of Technology. If, for whatever reason. you do not register consecutively for every year/ semester of
          your programme. your existing registration contract with the institution Will cease. Your re-registration
          anytime thereafter will be at the discretion of the institution and, if permitted. will be in according with
          the rules applicable at that time.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <!-- Card 3 -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mangosuthu University</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Conduct of Students</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <ul>
          <li>Attendance of lectures is very important and therefore compulsory</li>
          <li>Students should be on time for lectures</li>
          <li>No eating, smoking (including e-cigarettes) or drinking in lecture venues.</li>
          <li>The use of mobile phones is not permitted during lecture times unless otherwise directed by the individual facilitator</li>
          <li>Important announcement is given in class during contact session</li>
          <li>All students must regularly visit the department's notice board for important notices</li>
          <li>Keep note that a class attendance register Will be kept by the lecturer for future reference </li>
          <li>Rules of conduct pertaining to practical’s and site visits, as instituted by the head of department, shall apply to all students</li>
          <li>The onus is on the student to ensure that no clashes exist between the modules for which the student has registered. Should there be clashes, the student is to Inform the department immediately and de-register modules timeously.</li>
        </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <!-- Card 4 -->
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Mangosuthu University</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Special Tests</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>A special test may be granted to a student who has been prevented from taking a test.</p>
        <ul>
          <li>A student submits a medical certificate on the prescribed form On which a medical practitioner.
              Registered by Health Profession Council of SA, on the day Of the lest or immediately before it, provided that the homoeopath Of chiropractor.
              Registered with the Allied Health Professions Council of South Africa; </li>
          <li>The medical practitioner should specify the nature and duration of the illness and that for health reasons.
              It was impossible or undesired for a student to Sit lor test.</li>
          <li>The Student submits such a certificate to the Head of Department on the day as determined by the practitioner
              The Student should return to lectures immediately following such illness. or on one Of the two following working days.</li>
        </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Courtesy -->
  <ion-list>
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Powered By</ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-img src="../../../../../assets/images/wiseway.jpeg"></ion-img>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
