#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ion-thumbnail {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .main {
//   background-image: linear-gradient(
//     to bottom right,
//     #4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%
//   );
//   background-size: 200% 200%;
//   animation: movingGradient 5s linear infinite alternate;
// }

// @keyframes movingGradient {
//   from { background-position: 0 0; }
//   to { background-position: 100% 100%;}
// }
