<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <h1 class="nav navbar-brand">Forgot Password</h1>
    <!-- <ion-title class="nav navbar-brand">Login</ion-title> -->
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Forgot Password Form -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Reset your password</ion-card-subtitle>
      <ion-card-title class="ion-text-center pt-3">Forgot Password</ion-card-title>
      <ion-thumbnail>
        <ion-img class="float" src="../../../assets/icon/login.png"></ion-img>
      </ion-thumbnail>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="resetPassword()" [formGroup]="credentials" class="ion-margin-top">
        <ion-list>
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Please enter a valid email address</ion-note>
          </ion-item>
        </ion-list>

        <ion-grid class="ion-no-margin-bottom ion-no-padding-bottom">
          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" color="secondary" expand="block" [disabled]="!credentials.valid">
                <ion-icon name="send" slot="start"></ion-icon>
                Send Reset Link
              </ion-button>
                <ion-text class="ion-text-center ion-padding">
                  <!--  (click)="presentModalSignUp()" -->
                  <h6>Don't have an account? <span (click)="onDisplaySignUp()">Sign Up</span></h6>
                </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

