<!-- <ion-header>
  <ion-toolbar>
    <ion-title>team</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-list>

    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Change Username</ion-label>
    </ion-item-divider>
      <!-- Allow user to change profile details -->
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-button class="ion-margin-top" expand="block" color="secondary" (click)="displayEditProfile()">
              <ion-icon slot="start" name="create-outline"></ion-icon>
              Edit Username
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>

    <!-- Privacy Policy -->

    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Privacy Policy</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        At Wiseway we respect and are 100% committed to safeguard the privacy of your personal data or any information that you give while using this website. Wiseway complete commitment service promises and make sure that you, and only you, can access your account details. We know that when you shop online, you want your information to be kept safe and secure, and we ensure to do that.
      </ion-card-content>
    </ion-card>

    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>The information we collect</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        We collect personally identifiable information like names, postal address, shipping address, email addresses, contact numbers etc. This information is only collected when you register with our Site or place an online request. All information collected is encrypted and stored securely for your protection.
      </ion-card-content>
    </ion-card>

    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Use of stored information</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        We use the above information for following reasons
        <ul>
          <li>For internal record keeping.</li>
          <li>To respond to your inquiry. </li>
          <li>To understand your needs & fulfill your specific online requests</li>
          <li>To improve our products and services.</li>
          <li>To periodically send promotional emails about new products, special offers or other information and promotional material.</li>
        </ul>
        <br>
        This information is only collected to make your shopping experience with us as smooth and pleasant as possible. It is used only for the benefit of Proaim and our customers.
      </ion-card-content>
    </ion-card>

    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>We Don’t</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        <ul>
          <li>Sell, rent, or lease your personal information</li>
          <li>Keep you on our mailing lists if you have requested to be removed. </li>
          <li>Share your information with any trading partners.</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Security</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-card-content>
        Protecting your information is a priority 1. We strive to ensure any personal information you provide is handled in an appropriate and professional manner. We use encryption, firewalls and other technical and security procedures to protect the accuracy and security of your personal information and prevent unauthorized access or improper use. While using some features of the Proaim website and online services, for your protection you will need to submit a password or some other type of authenticating information.
        <br>
        If you believe that any information we have is incorrect or incomplete, please email us as soon as possible at wiseway.info@gmail.com We will promptly correct any information found to be incorrect.
        <br>
        Our privacy policy may change in the future. We encourage you to review this page periodically to understand our policy regarding our collection and use of personal information, and to contact us if you have any questions or concerns.
        Thank you for taking the time to read our privacy policy.
      </ion-card-content>
    </ion-card>

    </ion-list>

</ion-content>
