<ion-header>
  <ion-toolbar color="dark" class="p-3">
    <ion-buttons slot="start">
      <ion-button routerLink="/dashboard/tabs/courses">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="nav navbar-brand">Engineering</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- MUT Image -->
  <ion-grid class="p-3">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-img src="../../../../../../assets/images/mut_banner.jpeg"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <!-- Item 1 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Faculty of Engineering</ion-label>
    </ion-item-divider>
    <!-- Image -->
    <ion-img src="../../../../../../assets/images/courses/eng/Eng-1.jpeg"></ion-img>

    <!-- Item 2 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Engineering Access (Bridging)</ion-label>
    </ion-item-divider>
    <!-- Image -->
    <ion-img src="../../../../../../assets/images/courses/eng/Eng-2.jpeg"></ion-img>

    <!-- Item 3 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Career Opportunities</ion-label>
    </ion-item-divider>
    <!-- Image -->
    <ion-img src="../../../../../../assets/images/courses/eng/Eng-3.jpeg"></ion-img>

    <!-- Item 4 -->
    <ion-item-divider class="ion-padding" color="dark">
      <ion-label>Courses List</ion-label>
    </ion-item-divider>
    <ion-card>
      <ion-card-content>
        At the moment the MUT Engineering detailed courses and ECP programmes list is not available via our application.
        These upgrades will be available
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
