<!-- <ion-header>
  <ion-toolbar>
    <ion-title>developers</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- Ayanda -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Junior Developer</ion-card-subtitle>
      <ion-thumbnail class="ion-padding-top">
        <ion-img src="../../../../../assets/images/developers/ayanda.jpeg"></ion-img>
      </ion-thumbnail>
      <ion-card-title class="ion-text-center">Biyela Ayanda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text class="ion-text-center">
        <h6>
          Junior Developer who is highly motivated and eager to grow in the IT industry, For the recent years I have taken the advantage of the new technologies to develop applications that helps our community Adapt in the Fourth Industrial Revolution and AI Era, my goal is to learn more and be able to help the world a better place with the power of technology.
        </h6>
      </ion-text>

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-button fill="outline">
              <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="secondary" fill="outline">
              <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="warning" fill="outline">
              <ion-icon slot="icon-only" name="logo-slack"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="tertiary" fill="outline" href="https://www.linkedin.com/in/ayanda-biyela-27195b236/">
              <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- Andile -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Junior full stack developer</ion-card-subtitle>
        <ion-thumbnail class="ion-padding-top">
          <ion-img src="../../../../../assets/images/developers/daniel.jpeg"></ion-img>
        </ion-thumbnail>
        <ion-card-title class="ion-text-center">Khumalo Andile</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text class="ion-text-center">
          <h6>Member of the MUT Enactus team. Enjoy meeting new
            people and expanding my circle of friends, passionate
            about computer programming always looking for growth
            opportunities and to expand my knowledge. Enjoy writing,
            testing and debugging computer programs and creating websites.</h6>
        </ion-text>

        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-button fill="outline">
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button color="secondary" fill="outline">
                <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button color="warning" fill="outline">
                <ion-icon slot="icon-only" name="logo-slack"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button color="tertiary" fill="outline" href="http://linkedin.com/in/andile-khumalo-1087441b7">
                <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>
